* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, ol {
    list-style: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
img {
    width: 100%;
}
body {
    font-family: 'Poppins';
}
:root{
    --color--:#58A9A5;
    --color1--:#404242;
    --color2--:#1C2323;
    --color3--:#486958;
    --color4--:#CCF0E6;
    --color5--:#FEC62D;
}
.container {
    width: 1140px;
    margin: 0 auto;
}
/* start responcive */
@media (max-width: 1160px) {
    .container {
        width: 1040px;
    }
    .main_text {
        font-size: 30px !important;
    }
    .main_photo {
        width: 450px !important;
    }
    .main_subtext {
        font-size: 15px;
    }
    .sec_list {
        height: 228px !important;
        padding: 30px 0px 0px 30px  !important;
    }
    .sec_list_subtext {
        width: 100% !important;
    }
    .sec_h2_text {
        width: 65% !important;
    }
    .sec_subtext1 {
        width: 80% !important; 
    }
    .sec1_img {
        width: 300px !important;
    }
}
@media (max-width: 1060px) {
    .container {
        width: 940px;
    }
    .main_text {
        width: 70% !important;
    }
    .main_subtext {
        width: 70% !important;
    }
    .sec_list {
        height: 212px !important;
        padding: 10px 20px !important;
    }
    .sec_h2_text {
        width: 70% !important;
    }
    .sec_subtext1 {
        width: 100% !important;
    }
    .sec1_item {
        display: flex;
        flex-wrap: wrap;
        justify-content: center !important;
    }
    .sec1_list:last-child {
        margin-top: 40px !important;
    }
    .sec1_list1 {
        margin: 0 40px;
    }
    .sec1_list {
        margin: 0 40px;
    }
    .sec2_subtext {
        margin-top: 50px !important;
    }
    .sec2_photo{
        width: 380px !important;
    }
    .sec2_texts {
        height: 436px !important;
    }
    .foot_link {
        margin-left: 325px !important;
    }
}
@media (max-width: 960px) {
    .container {
        width: 840px;
    }
    .main_text {
        width: 80% !important; 
    }
    .main_subtext {
        width: 80% !important;
    }
    .sec_photo {
        width: 520px;
    }
    .sec_list {
        height: 171px !important;
    }
    .sec_list_subtext {
        width: 100% !important;
    }
    .sec_texts {
        padding-left: 50px !important;
    }
    .sec_h2_text {
        width: 80% !important;
    }
    .sect_item {
        display: flex;
        flex-wrap: wrap;
    }
    .sec2_title {
        display: flex;
        flex-wrap: wrap;
    }
    .sec2_texts {
        height: 380px !important;
    }
    .foot_link {
        margin-left: 270px !important;
    }
}
@media (max-width: 860px) {
    .container {
        width: 740px;
    }
    .main_title {
        display: flex;
        flex-wrap: wrap;
        padding: 50px 0px !important;
    }
    .main_imgs {
        margin: 0 auto;
    }
    .sec_item {
        display: flex;
        flex-wrap: wrap;
    }
    .sec_photo {
        width: 100%;
        border-radius: 0px 7px 7px 0px;
    }
    .sec_list {
        border-radius: 10px;
        padding: 20px 20px !important;
        height: 100% !important;
        margin-top: 20px !important; 
    }
    .sec_title1 {
        display: flex;
        flex-wrap: wrap;
    }
    .sec_texts {
        padding: 20px 20px !important;
        background-color: var(--color4--);
        border-radius: 10px;
        margin-top: 20px;
    }
    .sec_subtext1 {
        color: var(--color2--) !important;
    }
    .sec1_item {
        text-align: center;
    }
    .sec1_list {
        margin-top: 40px;
    }
    .sec1_list1 {
        margin-top: 40px;
    }
    .foot_title {
        display: flex;
        flex-wrap: wrap;
    }
    .foot_item {
        margin: 20px 0px;
    }
    .foot_link {
        margin-left: 430px !important;
    }
}
@media (max-width: 760px) {
    .container {
        width: 640px;
    }
    .nav_list {
        display: none !important;
    }
    .nav_box {
        display: flex;
        align-items: center ;
    }
    .nav_links {
        font-size: 16px;
        padding: 10px 30px !important;
        margin: 0 10px;
    }
    .nav_links1{
        display: block !important;
        font-size: 16px;
        padding: 10px 30px !important;
    }
    .main_imgs {
        margin-top: 30px;
    }
    .sec_subtext {
        width: 100% !important;
        margin-bottom: 20px !important;
    }
    .sec_text {
        font-size: 35px !important;
    }
    .sec2_texts {
        height: 100% !important;
    }
    .sec2_subtext {
        margin-top: 20px !important;
    }
    .foot_link {
        margin-left: 375px !important;
    }
}
@media (max-width: 660px) {
    .container {
        width: 540px;
    }
    .nav_links {
        font-size: 15px;
        padding: 10px 20px !important; 
    }
    .nav_links1 {
        font-size: 15px;
        padding: 10px 20px !important; 
    }
    .main_photo {
        width: 350px !important;
    }
    .sec_list {
        width: 100% !important; 
    }
    .sec_list_subtext {
        font-size: 15px;
    }
    .sec2_texts {
        padding: 0 0px !important;
        text-align: center;
    }
    .sec2_item {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .sec2_photo {
        width: 340px !important;
    }
    .foot_list {
        width: 500px !important;
    }
    .foot_link {
        margin-left: 275px !important;
    }
}
@media (max-width: 560px) {
    .container {
        width: 440px;
    }
    .main_text {
        width: 100% !important;
    }
    .main_subtext {
        width: 100% !important;
    }
    .sec1_text {
        font-size: 30px !important;
    }
    .foot_list {
        width: 400px;
    }
    .foot_link {
        margin-left: 170px !important;
    }
}
@media (max-width: 460px) {
    .container {
        width: 340px;
    }
    .main_title {
        padding: 30px 0px !important;
    }
    .photo_sec {
        width: 340px !important;
    }
    .sec_h2_text {
        width: 100% !important;
    }
    .sect_img {
        margin-top: 20px !important; 
    }
}
/* end responsive */
.nav_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
}
.nav_list {
    display: flex;
}
.nav_link {
    margin: 0 20px;
    font-weight: 500;
    color: var(--color1--);
    transition: .65s;
}
.nav_link:hover {
    color: var(--color--);
    border-bottom: 3px solid var(--color5--);
    border-radius: 5px;
}
.nav_item {
    display: flex;
    align-items: center;
}
.nav_img {
    width: 30px;
}
.nav_h1 {
    color: var(--color--);
    margin-left: 10px;
}
.nav_links {
    border: 1px solid var(--color--);
    padding: 10px 40px;
    border-radius: 5px;
    color: var(--color--);
    font-weight: 500;
    transition: .65s;
}
.nav_links:hover {
    background-color: var(--color--);
    color: white;
}
.nav_links1 {
    border: 1px solid var(--color--);
    padding: 10px 40px;
    border-radius: 5px;
    color: var(--color--);
    font-weight: 500;
    display: none;
    transition: .65s;
}
.nav_links1:hover {
    background-color: var(--color--);
    color: white;
}
.main_title {
    display: flex;
    align-items: center;
    padding: 70px 0px;
}
.main_imgs {
    background-image: url(../img/Rectangle\ 9.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.main_photo {
    width: 500px;
}
.main_text {
    font-size: 40px;
    width: 60%;
    color: var(--color2--);
}
.main_subtext {
    color: var(--color1--);
    width: 60%;
    margin: 20px 0px;
    line-height:30px;
}
.main_link {
    border: 1px solid var(--color--);
    padding: 10px 30px;
    border-radius: 10px 10px 10px 0px;
    color: var(--color--);
    font-weight: 600;
    transition: .65s;
}
.main_link:hover{
    background-color: var(--color--);
    color: white;
}
.sec_text {
    text-align: center;
    font-size: 40px;
    color: var(--color2--);
}
.sec_subtext {
    color: var(--color1--);
    text-align: center;
    width: 25%;
    margin: 0 auto;
    line-height: 30px;
    padding: 10px 0px;  
}
.sec_item {
    display: flex;
}
.sec_list {
    background-color: var(--color4--);
    width: 50%;
    height: 240px;
    padding: 40px 0px 40px 60px;
}
.sec_list_subtext {
    width: 70%;
    line-height: 30px;
}
.sec_link {
    color: var(--color3--);
    margin-top: 17px;
}
.bx {
    color: var(--color5--);
    border: 1px solid white;
    padding: 10px 11px;
    background-color: white;
    font-size: 25px;
    margin-left: 20px;
    border-radius: 50%;
}
.sec_title1 {
    display: flex;
    margin-top: 100px;
}
.sec_texts {
    padding-left: 100px;
}
.photo_sec {
    width: 430px;
}
.sec_h2_text {
    color: var(--color2--);
    width: 49%;
}
.sec_subtext1 {
    width: 59%;
    line-height: 30px;
    margin: 20px 0px;
    color: var(--color3--);
}
.sec1_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sec1_list {
    width: 330px;
}
.sec1_list1  {
    width: 330px;
}
.sec1_text {
    text-align: center;
    color: var(--color2--);
    font-size: 40px;
}
.sec1_subtext {
    text-align: center;
    color: var(--color1--);
    margin: 10px 0 50px;
}
.sec1_h2 {
    color: var(--color--);
}
.sec1_p {
    font-size: 13px;
    color: var(--color3--);
    line-height: 25px;
    margin: 10px 0px;
}
.sec1_title {
    margin-top: 100px;
}
.sec1_title1 {
    margin-top: 150px;
}
.sect_text {
    text-align: center;
    font-size: 40px;
    color: var(--color2--);
}
.sect_item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.sect_img{
    width: 150px;
    margin: 0 40px;
    cursor: pointer;
}
.sec2_title {
    display: flex;
    margin-top: 50px;
}
.sec2_texts {
    background-color: var(--color4--);
    padding: 30px 40px;
    height: 456px;
}
.sec2_photo {
    width: 400px;
}
.sec2_item{
    display: flex;
    align-items: center;
}
.sec2_text1 {
    color: var(--color--);
    font-size: 40px;
    width: 30%;
}
.sec2_item_subtext {
    color: var(--color--);
    font-weight: 600;
    width: 55%;
}
.sec2_subtext {
    color: var(--color3--);
    margin-top: 100px;
    width: 90%;
    line-height: 30px;
}
.sec2_link {
    margin-top: 30px;
    color: var(--color--);
}
.sec2_li1 {
    padding-left: 40px;
}
.foot_title{
    display: flex;
    margin-top: 150px;
}
.foot_list {
    border: 1px solid #486958;
    width: 600px;
    padding: 20px 20px; 
}
input {
    outline: none;
    border: none;
    border-bottom: 1px solid var(--color3--);
    width: 100%;
    padding: 10px 10px;
    margin: 10px 0px;
}
.foot_link {
    color: var(--color--);
    border: 1px solid var(--color--);
    padding: 10px 20px;
    border-radius: 10px 10px 10px 0px;
    transition: .65s;
    margin-left: 435px;
    margin-top: 10px;
}
.foot_link:hover{
    background-color: var(--color--);
    color: white;
}
.foot_text {
    color: var(--color2--);
    font-size: 40px;
}
.foot_subtext {
    color: var(--color3--);
    width: 70%;
}